<br><br><center><h1 style="font-size:4em;color:#2467C0">Covid19 Analysis</h1></center>
<br>
<table>
    <col width="500">
    <tr> 
    <p> Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). It was first identified in December 2019 in Wuhan, Hubei, China, and has resulted in an ongoing pandemic.</p>
    <p><i>Coronavirus Case Data is provided by Johns Hopkins University(https://github.com/CSSEGISandData/COVID-19).</i></p>
    </tr>
    <tr>
        <td><img src="https://img.medicalexpo.com/images_me/projects/images-g/covid-19-dentists-microscope-33996-15775207.jpg" align="middle" style="width:590px;height:340px;"/></td>
    </tr>
    <tr> 
        <td> Version 1.00</td>  
    </tr>
</table>

In [38]:
%config IPCompleter.greedy=True
%load_ext memory_profiler
%run HelperModule.ipynb
%run PlotModule.ipynb
# Within IPython notebook, add multiple print capabilities
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
#%matplotlib notebook
%matplotlib inline
import numpy as np

The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

<h6 style="font-size:2em;color:#2467C0">Import data</h6>

In [39]:
%%time
date_format = '%m-%d-%Y'
files_jhu_csse_obj = jhu_csse_load_csv(jhu_csse_daily_file_name, date_format)

CPU times: user 788 ms, sys: 71.8 ms, total: 860 ms
Wall time: 5.43 s

In [40]:
_name = 'df_has_numerical_columns'
if is_name_locally_defined(_name):
    print(_name + ' is locally defined')
else:
    if is_name_globally_defined(_name):
        print(_name + ' is globally defined')
    else:
        print(_name + ' is undefined')

df_has_numerical_columns is globally defined

In [41]:
print('--------df_global_confirmed--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_confirmed.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_confirmed.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_confirmed.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_confirmed.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_global_confirmed):
    files_jhu_csse_obj.df_global_confirmed.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_global_confirmed):
    files_jhu_csse_obj.df_global_confirmed.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_global_confirmed--------------
Size:
71022
-----------------------------------------
Shape:

(266, 267)

-----------------------------------------
Columns:

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20', '10/6/20',
       '10/7/20', '10/8/20', '10/9/20', '10/10/20'],
      dtype='object', length=267)

-----------------------------------------
First 3 rows:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,39285,39290,39297,39341,39422,39486,39548,39616,39693,39703
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,13806,13965,14117,14266,14410,14568,14730,14899,15066,15231
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,51690,51847,51995,52136,52270,52399,52520,52658,52804,52940

-----------------------------------------

In [42]:
print('--------df_us_confirmed--------------')
print('Size:')
print(files_jhu_csse_obj.df_us_confirmed.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_us_confirmed.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_us_confirmed.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_us_confirmed.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_us_confirmed):
    files_jhu_csse_obj.df_us_confirmed.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_us_confirmed):
    files_jhu_csse_obj.df_us_confirmed.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_us_confirmed--------------
Size:
915160
-----------------------------------------
Shape:

(3340, 274)

-----------------------------------------
Columns:

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_',
       ...
       '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20', '10/6/20',
       '10/7/20', '10/8/20', '10/9/20', '10/10/20'],
      dtype='object', length=274)

-----------------------------------------
First 3 rows:

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1798,1805,1818,1828,1831,1839,1852,1863,1882,1898
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5997,6024,6048,6073,6085,6116,6134,6141,6172,6190
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,898,902,921,921,921,923,927,927,939,942

-----------------------------------------

In [43]:
print('--------df_global_deaths--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_deaths.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_deaths.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_deaths.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_deaths.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_global_deaths):
    files_jhu_csse_obj.df_global_deaths.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_global_deaths):
    files_jhu_csse_obj.df_global_deaths.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_global_deaths--------------
Size:
71022
-----------------------------------------
Shape:

(266, 267)

-----------------------------------------
Columns:

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20', '10/6/20',
       '10/7/20', '10/8/20', '10/9/20', '10/10/20'],
      dtype='object', length=267)

-----------------------------------------
First 3 rows:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,1458,1458,1462,1462,1466,1467,1469,1470,1472,1473
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,388,389,392,396,400,403,407,411,413,416
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,1741,1749,1756,1760,1768,1768,1771,1783,1789,1795

-----------------------------------------
Describe number:

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,21.076624,22.829441,2.086466,2.458647,3.537594,5.390977,7.962406,11.003759,20.969925,23.184211,...,1.289107e+05,1.300215e+05,1.312245e+05,1.321564e+05,1.333799e+05,1.346127e+05,1.359257e+05,1.372766e+05,1.386325e+05,1.397756e+05
std,24.904600,70.191330,27.279200,27.377862,34.083035,47.434934,66.289178,89.313757,219.187744,220.524674,...,6.737246e+05,6.789774e+05,6.854278e+05,6.899005e+05,6.944497e+05,7.000819e+05,7.060390e+05,7.118662e+05,7.178390e+05,7.229420e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.677575,-15.277675,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.902500e+02,4.902500e+02,4.925000e+02,4.925000e+02,4.925000e+02,4.955000e+02,5.060000e+02,5.105000e+02,5.105000e+02,5.110000e+02
50%,22.820850,20.921188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.677000e+03,4.729000e+03,4.780000e+03,4.804000e+03,4.806000e+03,4.849000e+03,4.867500e+03,4.869000e+03,4.871500e+03,4.957500e+03
75%,41.143200,77.913685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,4.074200e+04,4.182125e+04,4.285850e+04,4.351100e+04,4.402550e+04,4.484325e+04,4.553625e+04,4.602425e+04,4.615625e+04,4.624000e+04
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,7.277791e+06,7.332297e+06,7.382341e+06,7.417845e+06,7.457402e+06,7.499341e+06,7.549682e+06,7.605873e+06,7.663293e+06,7.717932e+06

-----------------------------------------
Describe categorical:
No categorical fields!
-----------------------------------------

In [44]:
print('--------df_us_deaths--------------')
print('Size:')
print(files_jhu_csse_obj.df_us_deaths.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_us_deaths.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_us_deaths.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_us_deaths.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_us_deaths):
    files_jhu_csse_obj.df_us_deaths.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_us_deaths):
    files_jhu_csse_obj.df_us_deaths.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_us_deaths--------------
Size:
918500
-----------------------------------------
Shape:

(3340, 275)

-----------------------------------------
Columns:

Index(['UID', 'iso2', 'iso3', 'code3', 'FIPS', 'Admin2', 'Province_State',
       'Country_Region', 'Lat', 'Long_',
       ...
       '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20', '10/6/20',
       '10/7/20', '10/8/20', '10/9/20', '10/10/20'],
      dtype='object', length=275)

-----------------------------------------
First 3 rows:

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,28,27,27,27,27,27,27,28,28,28
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,53,53,53,53,53,55,56,64,64,65
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,7,7,7,7,7,7,7,9,9,9

-----------------------------------------

In [45]:
print('--------df_global_recoveries--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_recoveries.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_recoveries.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_recoveries.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_recoveries.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_global_recoveries):
    files_jhu_csse_obj.df_global_recoveries.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_global_recoveries):
    files_jhu_csse_obj.df_global_recoveries.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_global_recoveries--------------
Size:
67551
-----------------------------------------
Shape:

(253, 267)

-----------------------------------------
Columns:

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '10/1/20', '10/2/20', '10/3/20', '10/4/20', '10/5/20', '10/6/20',
       '10/7/20', '10/8/20', '10/9/20', '10/10/20'],
      dtype='object', length=267)

-----------------------------------------
First 3 rows:

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,10/1/20,10/2/20,10/3/20,10/4/20,10/5/20,10/6/20,10/7/20,10/8/20,10/9/20,10/10/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,32842,32842,32842,32852,32879,32977,33045,33058,33058,33064
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,8077,8342,8536,8675,8825,8965,9115,9215,9304,9406
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,36282,36385,36482,36578,36672,36763,36857,36958,37067,37170

-----------------------------------------

In [46]:
print('--------df_global_latest_data--------------')
print('Size:')
print(files_jhu_csse_obj.df_global_latest_data.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_global_latest_data.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_global_latest_data.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_global_latest_data.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_global_latest_data):
    files_jhu_csse_obj.df_global_latest_data.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_global_latest_data):
    files_jhu_csse_obj.df_global_latest_data.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_global_latest_data--------------
Size:
55370
-----------------------------------------
Shape:

(3955, 14)

-----------------------------------------
Columns:

Index(['FIPS', 'Admin2', 'Province_State', 'Country_Region', 'Last_Update',
       'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'Combined_Key', 'Incidence_Rate', 'Case-Fatality_Ratio'],
      dtype='object')

-----------------------------------------
First 3 rows:

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2020-10-11 04:23:46,33.93911,67.709953,39703,1473,33064,5166.0,Afghanistan,101.989962,3.710047
1,NaN,NaN,NaN,Albania,2020-10-11 04:23:46,41.15330,20.168300,15231,416,9406,5409.0,Albania,529.258461,2.731272
2,NaN,NaN,NaN,Algeria,2020-10-11 04:23:46,28.03390,1.659600,52940,1795,37170,13975.0,Algeria,120.726889,3.390631

-----------------------------------------

In [47]:
print('--------df_us_latest_data--------------')
print('Size:')
print(files_jhu_csse_obj.df_us_latest_data.size)
print('-----------------------------------------')
print('Shape:')
files_jhu_csse_obj.df_us_latest_data.shape
print('-----------------------------------------')
print('Columns:')
files_jhu_csse_obj.df_us_latest_data.columns
print('-----------------------------------------')
print('First 3 rows:')
files_jhu_csse_obj.df_us_latest_data.head(3)
print('-----------------------------------------')
print('Describe number:')
if df_has_numerical_columns(files_jhu_csse_obj.df_us_latest_data):
    files_jhu_csse_obj.df_us_latest_data.describe(include=[np.number])
else:
    print("No numeric fields!")
print('-----------------------------------------')
print('Describe categorical:')
if df_has_categorical_columns(files_jhu_csse_obj.df_us_latest_data):
    files_jhu_csse_obj.df_us_latest_data.describe(include=['category'])
else:
    print("No categorical fields!")
print('-----------------------------------------')

--------df_us_latest_data--------------
Size:
1044
-----------------------------------------
Shape:

(58, 18)

-----------------------------------------
Columns:

Index(['Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_',
       'Confirmed', 'Deaths', 'Recovered', 'Active', 'FIPS', 'Incident_Rate',
       'People_Tested', 'People_Hospitalized', 'Mortality_Rate', 'UID', 'ISO3',
       'Testing_Rate', 'Hospitalization_Rate'],
      dtype='object')

-----------------------------------------
First 3 rows:

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-10-11 04:30:32,32.3182,-86.9023,164526,2664,71240.0,90622.0,1.0,3355.492399,1204320.0,NaN,1.619197,84000001,USA,24561.993888,NaN
1,Alaska,US,2020-10-11 04:30:32,61.3707,-152.4044,9431,60,5761.0,3610.0,2.0,1289.189318,499253.0,NaN,0.636200,84000002,USA,68246.382656,NaN
2,American Samoa,US,2020-10-11 04:30:32,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1616.0,NaN,NaN,16,ASM,2904.333136,NaN

-----------------------------------------